<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Collection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'EB Garamond', serif;
        background-color: rgb(122, 161, 232);
    }

    

    ul {
        font-size: 20px;
    }

</style>

<body>
	<h1><u>Movie Collection</u></h1>

    <h2>Options</h2>
    <ul>
        <li>Add a movie: <a href="/add">Add Movie</a></li>
        <li>Review Movie Info: <a href="/review">Movie Info</a></li>
   
        <li>Search movies based on runtime: <a href="/runtime">Select by Runtime</a></li>
        <li>Remove all movies: <a href="/remove">Remove All Movies</a></li>
    </ul>
</body>

