<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>GPA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'EB Garamond', serif;
        background-color: rgb(122, 161, 232);
    }

</style>

<body>
    <h1>Display Movies With Runtime Less than: <%- hour %> hours</h1>

    <%- table %>
    
    <br><hr>
    <a href="..">HOME</a>
</body>