<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove</title>
    <script src="code.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'EB Garamond', serif;
        background-color: rgb(122, 161, 232);
    }

</style>

<body>
    <h1>Removing All Movies</h1>

    <form action="../processRemove" method="post">
        <input type="submit" value="Remove all movies"
        onclick="return confirm('Are you sure you want to remove all movies?')">
    </form>
    <hr>
    <a href="..">HOME</a>
</body>