<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>GPA</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'EB Garamond', serif;
        background-color: rgb(122, 161, 232);
    }

</style>

<body>
    <h1>Display Runtimes Less than: </h1>

    <form action="../processRuntime" method="post">
        <label><strong>Runtime: <input name="hour" type="number" min="1" max="10" step="1" value="1"> hrs</label><br>
        <input type="submit" value="Submit Request">
    </form>

    <hr>
    <a href="..">HOME</a>
</body>